body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);;
    text-align: center;
    width: 350px;
}

input[type="text"] {
    padding: 10px;
    width: 150px;
    margin: 15px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 12px 20px;
    border: none;
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}

.thankyou-image {
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
}

#thankYouMessage h2 {
    color: #28a745;
    font-size: 24px;
    margin-top: 20px;
}

#submittedName {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
    font-weight: bold;
}